{% extends "dota_chat/draft/header_draft.html" %}
{% load staticfiles %}

{% block content %}

    <!-- General info about the Target -->

<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb" class="flex-fill">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Draft</a></li>
            </ol>
        </nav>
    </div>

    <!-- Main content block -->
    <div class="row mb-3">
        <div class="col-12 mb-1">
            <hr class="col-12">
            <p>Welcome to the draft simulator! This page will use the hero and player (Steam User) combinations you supply to calculate the hero pick that will maximize your team's chances of winning the game! This is done with a machine learning model that takes into account hero skill interactions, hero chat sentiment, and even the historical performance of players on their respective heroes. You'll be redirected to the detail page for the recommended pick.
            <p>The current hero picks have been randomly sampled from the distribution of popular hero picks (the current meta, shown on the main dashboard). You can change the heroes in the draft using the dropdown menus and tailor it to the game you're drafting for!
            <p>Finally, if you know the Steam user name of other players in the game, you can start typing it into the 'Steam User' boxes and you should be presented with autocomplete options (remember, lots of Steam users have the same name, so rely on the ID if you can). If you don't see who you're looking for, make sure you've typed the name correctly and the account is set to "Expose Public Match Data". Try it on your own account first to get a sense of how it works.
            <hr class="col-12">
        </div>
        <div class="col-12 mt-1">
                    <form method="post">{% csrf_token %}

                    {{ viewContent.form.non_field_errors }}
                    <div class="form-row col-12">
                        <div class="form-group col-2">
                            {{ viewContent.form.enemySlot1_hero.label_tag }}
                            {{ viewContent.form.enemySlot1_hero }}
                            {{ viewContent.form.enemySlot1_hero.errors }}

                            {{ viewContent.form.enemySlot1_user }}
                            {{ viewContent.form.enemySlot1_user.label_tag }}
                            {{ viewContent.form.enemySlot1_user.errors }}
                        </div>
                        <div class="form-group col-2">
                            {{ viewContent.form.enemySlot2_hero.label_tag }}
                            {{ viewContent.form.enemySlot2_hero }}
                            {{ viewContent.form.enemySlot2_hero.errors }}

                            {{ viewContent.form.enemySlot2_user }}
                            {{ viewContent.form.enemySlot2_user.label_tag }}
                            {{ viewContent.form.enemySlot2_user.errors }}
                        </div>
                        <div class="form-group col-2">
                            {{ viewContent.form.enemySlot3_hero.label_tag }}
                            {{ viewContent.form.enemySlot3_hero }}
                            {{ viewContent.form.enemySlot3_hero.errors }}


                            {{ viewContent.form.enemySlot3_user }}
                            {{ viewContent.form.enemySlot3_user.label_tag }}
                            {{ viewContent.form.enemySlot3_user.errors }}
                        </div>
                        <div class="form-group col-2">
                            {{ viewContent.form.enemySlot4_hero.label_tag }}
                            {{ viewContent.form.enemySlot4_hero }}
                            {{ viewContent.form.enemySlot4_hero.errors }}


                            {{ viewContent.form.enemySlot4_user }}
                            {{ viewContent.form.enemySlot4_user.label_tag }}
                            {{ viewContent.form.enemySlot4_user.errors }}
                        </div>
                        <div class="form-group col-2">
                            {{ viewContent.form.enemySlot5_hero.label_tag }}
                            {{ viewContent.form.enemySlot5_hero }}
                            {{ viewContent.form.enemySlot5_hero.errors }}


                            {{ viewContent.form.enemySlot5_user }}
                            {{ viewContent.form.enemySlot5_user.label_tag }}
                            {{ viewContent.form.enemySlot5_user.errors }}
                        </div>
                    </div>



                    <div class="form-row col-12">
                        <div class="form-group col-2">
                            {{ viewContent.form.myTeamSlot1_hero.label_tag }}
                            {{ viewContent.form.myTeamSlot1_hero }}
                            {{ viewContent.form.myTeamSlot1_hero.errors }}

                            {{ viewContent.form.myTeamSlot1_user }}
                            {{ viewContent.form.myTeamSlot1_user.label_tag }}
                            {{ viewContent.form.myTeamSlot1_user.errors }}
                        </div>
                        <div class="form-group col-2">
                            {{ viewContent.form.myTeamSlot2_hero.label_tag }}
                            {{ viewContent.form.myTeamSlot2_hero }}
                            {{ viewContent.form.myTeamSlot2_hero.errors }}

                            {{ viewContent.form.myTeamSlot2_user }}
                            {{ viewContent.form.myTeamSlot2_user.label_tag }}
                            {{ viewContent.form.myTeamSlot2_user.errors }}
                        </div>
                        <div class="form-group col-2">
                            {{ viewContent.form.myTeamSlot3_hero.label_tag }}
                            {{ viewContent.form.myTeamSlot3_hero }}
                            {{ viewContent.form.myTeamSlot3_hero.errors }}


                            {{ viewContent.form.myTeamSlot3_user }}
                            {{ viewContent.form.myTeamSlot3_user.label_tag }}
                            {{ viewContent.form.myTeamSlot3_user.errors }}
                        </div>
                        <div class="form-group col-2">
                            {{ viewContent.form.myTeamSlot4_hero.label_tag }}
                            {{ viewContent.form.myTeamSlot4_hero }}
                            {{ viewContent.form.myTeamSlot4_hero.errors }}


                            {{ viewContent.form.myTeamSlot4_user }}
                            {{ viewContent.form.myTeamSlot4_user.label_tag }}
                            {{ viewContent.form.myTeamSlot4_user.errors }}
                        </div>
                        <div class="form-group col-2">
                            {{ viewContent.form.myTeamSlot5_hero.label_tag }}
                            {{ viewContent.form.myTeamSlot5_hero }}
                            {{ viewContent.form.myTeamSlot5_hero.errors }}


                            {{ viewContent.form.myTeamSlot5_user }}
                            {{ viewContent.form.myTeamSlot5_user.label_tag }}
                            {{ viewContent.form.myTeamSlot5_user.errors }}
                        </div>
                    </div>


                    <input class="btn btn-primary btn-sm" type="submit" name="form" value="Calculate Pick!">
                    </form>
        </div>
    </div>

</div>


{% endblock %}

