{% extends "dota_chat/user/header_user_list.html" %}
{% load django_tables2 %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row">
        <nav class="flex-fill" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Users</a></li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <form id="userSearchForm" class="form-inline" action="{% url 'user_search_redirect' %}" method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
                <input type="text" class="form-control mr-2" id="userSearch" name="user" placeholder="User Lookup...">
                <button type="submit" class="btn btn-primary btn-sm">Go to User</button>
            </div>
        </form>
    </div>
    <div class="row">
        {% if viewContent.table %}
            {% render_table viewContent.table %}
        {% else %}
                <div> <p>No table data available (yet).</p></div>
        {% endif %}
    </div>
{% endblock %}
