{% extends "dota_chat/header.html" %}
{% load staticfiles %}
{% load django_tables2 %}

{% block content %}

<div class="container">
    <p>What is this? Who are we? What's the point?</p>
</div>

<div class="container">

<!-- Link to night ListView -->
    <a class="btn btn-primary btn-sm" href='{% url "hero_list_view" %}'>Heros</a>
    <a class="btn btn-primary btn-sm" href='{% url "player_list_view" %}'>Players</a>
    <a class="btn btn-primary btn-sm" href='{% url "user_list_view" %}'>Users</a>

</div>

{% endblock %}
