{% extends "dota_chat/header.html" %}
{% load staticfiles %}
{% load django_tables2 %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="display-4 mb-3">
            Useful pages:
        </div>
        <div class="col-12 mb-5">
            <!-- Link to night ListView -->
            <a class="btn btn-primary btn mr-3" href='{% url "draft_view" %}'>Simulate a Draft</a>
            <a class="btn btn-primary btn" href='{% url "hero_list_view" %}'>Hero Detail Pages</a>
        </div>

        <div class="display-4 mt-5">
            Interesting distributions:
        </div>

        <div class="col-12" id="temporalHist"></div>
        <div class="col-12 mt-3" id="regionHist"></div>
        <div class="col-12 mt-3" id="heroPopularityHist"></div>


</div>

{% endblock %}
