{% extends "dota_chat/header.html" %}
{% load staticfiles %}
{% load django_tables2 %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            Links to lists:
            <!-- Link to night ListView -->
            <a class="btn btn-primary btn-sm" href='{% url "hero_list_view" %}'>Heros</a>
            <a class="btn btn-primary btn-sm" href='{% url "player_list_view" %}'>Players</a>
            <a class="btn btn-primary btn-sm" href='{% url "user_list_view" %}'>Users</a>
        </div>

        <div class="col-12 mt-3">
            Here's some info about the current meta:
        </div>

        <div class="col-12" id="temporalHist"></div>
        <div class="col-12 mt-3" id="regionHist"></div>
        <div class="col-12 mt-3" id="heroPopularityHist"></div>


</div>

{% endblock %}
