{% extends "dota_chat/header_login.html" %}

{% block content %}
    <div class="row">
        <div  class="center-div">
            <div class="col-md-12">

                <div class="card text-center">
                    <div class="card-body">
                        <h1 class="h3 mb-3 font-weight-normal">Pipe of Insight</h1>
                        <p>Click <a href="{% url 'dashboard' %}">here</a> if you just want to browse around the site without logging in (recommended).</p>
                        <p>Or click <a href="{% url 'auth_login' %}">here</a> to log in to the site.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}