{% extends "dota_chat/header_login.html" %}

{% block content %}
    <div class="row">
        <div  class="center-div">
            <div class="col-md-12">

                <div class="card text-center">
                    <div class="card-body">
                        <h1 class="h3 mb-3 font-weight-normal">Pipe of Insight Login</h1>
                        <form method="post">{% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}