{% load staticfiles %}

{% for par in ability.ability_as_list %}
    <p>{{ par }}</p>
{% endfor %}

{% if ability.manaCost or ability.cooldown %}

<div class="popover-footer pb-0">
{% if ability.manaCost %}
    <i class="fas fa-stop" style="color:dodgerblue"></i>
    {% if ability.manaCost|length > 1 %}
        {% for mc in ability.manaCost %}
            {% if forloop.last %}
                {{ mc }}
            {% else %}
                {{ mc }} / 
            {% endif %}
        {% endfor %}
    {% else %}
        {{ ability.manaCost.0 }}
    {% endif %}
    </p>
{% endif %}

{% if ability.cooldown %}
    <p><i class="far fa-clock"></i>
    {% if ability.cooldown|length > 1 %}
        {% for cd in ability.cooldown %}
            {% if forloop.last %}
                {{ cd }}
            {% else %}
                {{ cd }} / 
            {% endif %}
        {% endfor %}
    {% else %}
        {{ ability.cooldown.0 }}
    {% endif %}
    </p>
{% endif %}
</div>
{% endif %}